/*1   body{
    background-color: rgb(168, 168, 230);
}
#par{
    font-size: 40px;
    color:rgb(37, 16, 57);
    margin-top: 150px;
    margin-left: 500px;
    font-family: 'Square Peg', cursive;
} */
.play{
    display: flex;
    justify-content: center;
    
}
h1{
    color:rgb(17, 27, 232);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 60px;
    margin-top: 50px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHJhbmRvbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-color: aqua;
}
.conteiner{
    background-color: rgb(195, 189, 181);
    width:30%;
    margin-top: 130px;
    padding: 20px;
    margin-left: 150px;
}
h3{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px; 
    color:rgb(1, 16, 30);
}
#quess{
    padding: 10px;
    font-family: 'Ibarra Real Nova', serif; 
    width:40%;
    font-size: 15px;
    border:none;
}
#btn{
    background-color:rgb(17, 27, 232);
    font-size: 15px;
    font-family: 'Ibarra Real Nova', serif;
    color:aliceblue;
    margin-top: 20px;
    padding:20px;
    border-radius: 20px;
    border:none;
}
@media all and (max-width:800px){
   #quess{
    width:100px;
    padding:10px;
    font-size: 10px;
   }
   h1{
    font-size: 40px;
   }
}
@media all and (max-width:500px){
    #quess{
        width:100px;
        padding:10px;
        font-size: 5px;
       }
       h1{
        font-size:35px ;
       }
}